<% errors = model.errors %>

<% if errors.any? %>
  <div class="alert alert-dismissable alert-danger my-2">
    <button type="button" class=" float-end btn-close" data-bs-dismiss="alert">
    </button>

    <div class="lead buffer-bottom">
      <%= t('devise.shared.error_messages.your_form_contains') %>
      <%= t :error, count: errors.count %>
    </div>

    <ul>
      <% errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
